.footer {
    background-color: var(--color-bg-hero);
}

.footer__conteiner {
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 480px) {
            width: 480px;
            // text-align: center;
    
        }
    
        @media (min-width:768px) {
            width: 768px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
        }
    
        @media (min-width:1200px) {
            width: 1200px;
            flex-wrap: nowrap;
        }


}


.address__conteiner {
    margin: 20px 0 0;
}

.adress {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-color);
}

.footer__list {
    margin: 0;
    margin-bottom: 60px;
    padding: 0 0;
    list-style-type: none;
    // @media (min-width: 480px) {
    //     margin-bottom: 60px;
    // }
}

.footer__mail,
.footer__tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text-foter);
    text-decoration: none;
}

.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    margin: 0 0 20px;
}

.socials__link--activ {

    background-color: var(--color-bg-link);
    fill: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--activ:hover {
    background-color: var(--accent-color);
}

.subsribe__title {
    margin: 0 0 28px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.subsribe__form {
    gap: 12px;

    @media (min-width: 1200px) {
            display: flex;
        }
}

.subsribe__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    width: 80%;
    outline: none;
    padding: 15px 16px;
    margin-bottom: 20px;
    background: var(--color-bg-hero);
    @media (min-width: 1200px) {
        margin-bottom: 0;
        width: 358px;
    }

}

.subsribe__form::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-input);

}

.subsribe {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // gap: 10px;
@media (min-width:1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
}
}

.subsribe__icon {
    margin-left: 10px;
    fill: var(--white-color);
    @media (min-width:1200px) {
            margin-left: 0;
        }
    
}