.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    // display: inline-block;
    min-width: 216px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--activ-color);
}