.projects__list {

    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    list-style-type: none;
}

.project__item {

@media (min-width:768px) {
     width: calc((100% - 30px) / 2);
        }
    
@media (min-width:1200px){
width: calc((100% - 60px) / 3);
} 
    

    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__box {
    background-color: var(--accent-color);
    overflow: hidden;
    text-decoration: none;
    color: var(--primary-text-color);
}

.project__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__content {
    padding: 20px 24px;
    border-bottom: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
}

.card__title {
    margin: 0 0 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-second-color);

}

.card__discr {
    margin: 0 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

}

.thumb {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color-opacity);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover .overlay {
    transform: translatey(0);

}

.overlay__discr {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin: 0;
    padding: 63px 18px;
}